Database/schemas/commandes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="commandes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="commande" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="id"/>
              <xs:element type="xs:string" name="libellee"/>
              <xs:element type="xs:short" name="prix"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>