Database/schema/sousCategories.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sousCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sousCategorie" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="id"/>
              <xs:element type="xs:string" name="libelle"/>
            </xs:sequence>
            <xs:attribute type="xs:decimal" name="categorie" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>